/** Dark theme */

:root {
  --background-color-light: #ffffff;
  --text-color-light: #333333;

  --background-color-dark: #1e1e1e;
  --text-color-dark: #ffffff;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* navbar dark theme */

.navbar {
  background-color: var(--background-color-light) !important;
  color: var(--text-color-light) !important;
}

body.dark-mode .navbar {
  background-color: var(--background-color-dark) !important;
  color: var(--background-color-dark) !important;
}

body.dark-mode .page-title {
  color: white;
}

/* card dark theme   */

.card {
  background-color: var(--background-color-light);
  opacity: 0.9;
  color: var(--text-color-light);
}

body.dark-mode .card {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* dark theme for table*/

body.dark-mode .gold-rate-table {
  background-color: var(--background-color-dark) !important;
  color: var(--text-color-dark) !important;
  border-color: var(--text-color-dark) !important;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body.dark-mode .gold-rate-table strong,
body.dark-mode .gold-rate-table span,
body.dark-mode .gold-rate-table td,
body.dark-mode .gold-rate-table th {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark-mode .gold-rate-table {
  border-color: rgb(79, 79, 79) !important;
}

/* dark mood toggle button */

#dark-mode-toggle {
  display: none;
}

#dark-mode-label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

#icon {
  width: 30px;
  height: 30px;
}

body.dark-mode .table.today-gold-rate {
  background-color: black;
  color: white;
}

/** Daily Gold Price Card */

/* makes navbar bigger */
#existing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.image-container {
  position: relative;
}

.card-overlay {
  width: 65%;
  height: 55%;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Default styles for both images */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Hide the small image by default */
.small-image {
  display: none;
}

.large-image {
  display: block;
}

.small-image {
  display: none;
}

.nav-title {
  font-size: 25px;
}

.card-title {
  font-size: 20px;
}

/** Gold Price table */

.gold-rate-table {
  font-size: 15px;
}
.gold-rate-table,
.gold-rate-table th,
.gold-rate-table td {
  border: 2px solid #2f2f2f !important;
}

.gold-rate-table strong {
  font-size: 18px;
}

.gold-rate-table span {
  font-size: 14px;
}

.up-arrow {
  background: url('/img/up-arrow.png') no-repeat center center;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  vertical-align: middle;
  margin-left: 5px;
}

.down-arrow {
  background: url('/img/down-arrow.png') no-repeat center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  vertical-align: middle;
  margin-left: 5px;
}
.no-change {
  background: url('/img/no-change.png') no-repeat center center;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  vertical-align: middle;
  /* margin-left: -3px; */
}

/** Email Form  */

.email-form {
  max-width: 40%;
  margin: auto;
}
.email-form .form-control,
.email-form .form-select {
  border: 2px solid #2f2f2f;
}

#email-form-pera {
  font-size: 16px;
}

.email-btn {
  padding: 5px 12px;
  font-size: 12px;
  background: linear-gradient(90deg, #3700fc, #f40000);
  color: white;
  cursor: pointer;
  border: none;
}

.email-btn:hover {
  background: linear-gradient(90deg, #3700fc, #f40000);
  padding: 7px 15px 7px 15px;
  transition: padding 0.2s;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.lang-btn {
  background: linear-gradient(90deg, #1c6e8c, #0a8754);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
}

/** All paragraphs */

.paragraphs {
  font-size: 16px;
}
.signupLink {
  background: linear-gradient(90deg, #0008ff, #0039f4);
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
}

.page-wrap {
  min-height: 100vh;
}

/** for small screen */
@media (max-width: 867px) {
  .nav-title {
    font-size: 22px;
  }

  .large-image {
    display: none;
  }

  .small-image {
    display: block;
  }

  /* Daily gold price card */
  .card-overlay {
    width: 90%;
    height: 85%;
  }

  .card-title {
    font-size: 18px;
    margin-bottom: 0px;
  }

  #peraText1,
  #peraText2,
  #peraText3 {
    font-size: 16px;
  }

  #icon {
    width: 25px;
    height: 25px;
  }

  /* gold price table */

  .gold-rate-table {
    width: 95%;
    font-size: 1.1em;
    margin-top: 0%;
  }

  .gold-rate-table,
  .gold-rate-table span {
    font-size: 14px;
  }
  .gold-rate-table strong {
    font-size: 16px;
  }
  .table-header .table-title::before {
    content: 'G';
    color: #333;
  }
  .table-header .table-title {
    display: none;
  }
  #gold-rate-table {
    font-size: 16px;
  }
  .gold-rate-table-title {
    margin-top: 0;
    font-size: 19px;
  }

  .email-form {
    max-width: 80%;
    margin: auto;
    font-size: 16px;
  }
  .email-form-title {
    font-size: 18px;
  }

  #email-form-pera {
    font-size: 16px;
  }

  /* all paragraphs */
  .paragraphs {
    font-size: 16px;
  }
  .paragraphs-header {
    font-size: 18px;
  }
  .paragraph-title {
    font-size: 20px;
  }
}
